<div class="container">
  <h3>Employees List</h3>

  <div class="search">
    <input type="text" class="search-input" placeholder="Search" [formControl]="searchFormControl">
  </div>

  <div *ngFor="let employee of filteredEmployees" class="employee-container">
    <app-employee [employee]="employee"></app-employee>
    <div class="employee-actions">
      <div class="img-container delete slow-transition active" (click)="deleteEmployeePressed(employee)">
        <img src="../../../assets/images/delete-user.png"/>
      </div>
      <div class="img-container edit slow-transition" [ngClass]="{'active' : !employee.blocked}" (click)="editEmployee(employee.id)">
        <img src="../../../assets/images/edit-user.png"/>
      </div>
    </div>
  </div>
</div>
<app-popup *ngIf="confirmationPopupShown" (buttonPressedEvent)="deleteEmployee($event)" title="Delete employee"
           [deletedItem]="employeeForDelete.firstName + ' ' + employeeForDelete.secondName"></app-popup>

