h3 {
  font-weight: bold;
}

.container {
  margin-top: 3vh;

  h3 {
    margin: 0 0 2vh 0;
  }

  .search-input {
    background-image: url('../../../assets/images/searchicon.png');
  }

  .employee-container {
    width: 20%;
    margin-top: 2vh;
    font-family: roboto, acrelec, sans-serif;
    display: flex;
    flex-direction: row;


    .employee-actions {
      margin-left: auto;
      display: flex;

      .img-container {
        display: flex;
        justify-content: center;
        height: 1.9vw;
        width: 1.9vw;
        border-radius: 5px;
        cursor: no-drop;


        &.active {
          z-index: 2;
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
          transition: box-shadow 300ms;
          cursor: pointer;
        }

        &.active:hover {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        }

        &:first-of-type {
          margin-right: .8vw;
        }

        &.delete {
          background: #ff392f;
        }

        &.edit {
          background: #d9d9d9;
        }

        img {
          display: block;
          margin: auto;
          height: 1.2vw;
          width: 1.2vw;
        }
      }
    }
  }
}
